.Home {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    justify-content: center; /* Vertically center the items */
    align-items: center;     /* Horizontally center the items */
    height: 100vh;           /* Full viewport height */
    text-align: center;      /* Centers the text */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    margin-bottom: 20px;    /* Adds space below the logo */
}

.input-wrapper {
  display: flex;                 /* Creates a flex container to align items horizontally */
  align-items: center;           /* Vertically centers the profile icon and input field */
  margin-top: 20px;              /* Adds space above the entire input-wrapper */
}

.profile-icon {
  width: 30px;                   /* Sets the width of the profile icon */
  height: 30px;                  /* Sets the height of the profile icon */
  cursor: pointer;               /* Changes cursor to pointer when hovered */
  margin-right: 10px;            /* Adds space between the profile icon and input */
  object-fit: cover;             /* Ensures the image fits well within the set dimensions */
}

.input {
  margin-bottom: 20px;           /* Adds space below the input field */
  padding: 10px;                 /* Adds padding inside the input to increase clickable area */
  font-size: 1rem;               /* Adjusts the font size */
  border: 1px solid #ccc;        /* Creates a border with light gray color */
  border-radius: 5px;            /* Adds rounded corners to the input */
  width: 250px;                  /* Sets the width of the input field */
  line-height: 30px;             /* Ensures the input height aligns with the profile icon's height */
}

button {
    background-color: #007bff;   /* Button background color */
    color: white;                /* Button text color */
    padding: 10px 20px;          /* Padding inside the button */
    margin: 10px;                /* Space between buttons */
    border: none;                /* Remove button border */
    border-radius: 5px;          /* Rounded corners */
    font-size: 1rem;             /* Font size for the button text */
    cursor: pointer;             /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease;  /* Transition for hover effect */
}

button:hover {
    background-color: #0056b3;   /* Darker blue on hover */
}

button:focus {
    outline: none;               /* Remove outline when button is focused */
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

@keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
